@use "../../assets/sass/variables.scss" as *;

.navbar {
    height: 5rem;
    width: auto;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    background-color: $color-secondary;
    justify-content: space-between;
    align-items: center;

    &__image {
        height: 4rem;
        width: auto;
    }
}

@media (max-width: 700px) {
    .navbar{
      display: flex;
      flex-direction: column;
      height: auto;
      width: 100vw;
    }
  }